* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    max-width: 900px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-section {
    flex: 1;
    padding: 30px;
    background-color: #f7f9fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    width: 60px
    margin button: 20px;
}

.info-section h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.info-section p {
    font-size: 14px;
    color: #666;
}

.form-section {
    flex: 1.5;
    padding: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #00b894;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #019d82;
}

.terms {
    margin-top: 15px;
    font-size: 12px;
    color: #666;
    text-align: center;
}

.terms a {
    color: #00b894;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}